<!-- LOGIN -->
<div id="header">
    <div id="formPan">
	<!--<form method="post" action="#" id="loginForm" name="loginForm">-->
	<!--    <h2>EXISTING CUSTOMERS</h2>-->
	<!--    <p>-->
	<!--       Please login with your ID and Password.-->
	<!--    </p>-->
	<!--    <div>-->
	<!--	<p>-->
	<!--	    <label>User ID</label><input type="text" size="10" maxlength="30" />-->
	<!--	    <label>Password</label><input type="password" size="10" maxlength="30" />-->
	<!--	    <%= image_submit_tag("btn_submit.jpg", :class => 'submitBtn') %>-->
	<!--	</p>-->
	<!--    </div>-->
	<!--    <div class="register">-->
	<!--       New to our site? Please register <%= link_to "here", :controller => 'users', :action => 'new'  %>-->
	<!--    </div>-->
	<!--</form>-->
	      <% form_for(:session, :url => sessions_path) do |f| %>
		<h2>EXISTING CUSTOMERS</h2>
		<p>
		    Please login with your Email and Password.
		</p>
		<% flash.each do |key, value| %>
		    <div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<div class="loginWidget">
		    <div class="field_login">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		    </div>
		    <div class="field_login">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		    </div>
		    <div class="actions">
			<%= image_submit_tag("btn_submit.jpg", :class => 'submitBtn') %>
		    </div>
		</div>
		<div class="register">
		    New to our site? Please register <%= link_to "here", :controller => 'users', :action => 'new'  %>
		</div>
              <% end %>
	    <br />
    </div>
    
    <div id="mainimgPan">
	<ul>
	    <a href="#"><%= image_tag("btn_quote_new.jpg", :width => "133", :height => "15", :border => "0", :style => "float:right") %></a>
	</ul>
	
	<div id="mainimg">
	    <a href="#"><%= image_tag("slogan_text_title.jpg", :class => "sloganTitle") %></a>
	    <a href="#"><%= image_tag("slogan_text_desc.jpg", :class => "sloganText") %></a>
	</div>
    </div>
    
</div>

<!-- CONTENT -->

<div id="content">
    <div id="leftPan">
	<div id="services">
	    <h2></h2>
	    <p>
		<span>Our scope of drafting/design work includes the following:</span>
	    </p>
	    <ul id="servicesList">
		<li>* Architectural</li>
		<li>* Structural</li>
		<li>* Electrical</li>
		<li>* Mechanical</li>
		<li>* Plumbing</li>
		<li>* HVAC</li>
	    </ul>
	</div>
	<div id="mortgage">
	    <h2></h2>
	</div>
    
    </div>
    
    <div id="rightPan">
	<div id="welcome">
	    <h2></h2>
	    <p>
		Our company is interested in building relationships with companies in need of drafting or design work, ongoing contract work or any kind of small or big tasks which involve AutoCAD.
	    </p>
	    <br />
		<ul class="left">
		    Our scope of drafting/design work includes the following: 
		</ul>
		<ul class="right">
		<li><a href="#">Architectural</a></li>
		<li><a href="#">Structural</a></li>
		<li><a href="#">Electrical</a></li>
		<li><a href="#">Mechanical</a></li>
		<li><a href="#">Plumbing</a></li>
		<li><a href="#">HVAC</a></li>
		</ul>
	    
	</div>
	<div class="spacerline"></div>
	<div id="fcontainer">
	    <div class="note">
		Pricing for Design/Drafting from sketches or ideas varies depending on content.
		Please click <a href="#">here</a> or Get A Quote button above to get pricing information.
	    </div>
	    <br />
	</div>
    </div>
</div>
    

